* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* change the value to view more images on a line */
  grid-gap: 1rem;
  padding: 1rem;
}

img {
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
  object-fit: cover;
  object-position: center;
}

.blur-load::before {
  content: "";
  position: absolute;
  inset: 0;
  animation: pulse 2.5s infinite;
  /* background-color: rgba(255, 255, 255, 0.1); */
}

.blur-load.loaded::before {
  content: none;
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2); 
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

.blur-load {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

.blur-load.loaded > img {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.blur-load > img {
  opacity: 0;
}